@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #2dd4bf; /* Teal */
    --accent-color: #a3e635;  /* Lime Green */
    --bg-dark: #0a0a0a;       /* Zinc 950 */
    --text-light: #f4f4f5;    /* Zinc 100 */
}

header {
    background-color: #1B1F38;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  background-color: #0A0F1F;
  color: #E0E0E0;
  
}

nav a {
    color: #a3e635 !important;
    text-decoration: none;
    font-size: 1.3em;
    transition: color 0.3s;
    padding: 8px;
    text-align: right;
}

nav a.active {
    /* color: #00E5FF !important; */
    font-weight: bold;
    border-bottom: 2px solid #00E5FF;
    /* color: #A259FF !important; */
    text-decoration: none;
    font-size: 1.3em;
    transition: color 0.3s;
    background-color: transparent !important;
    box-shadow: none !important;
}

nav a:visited {
    /* color: #A259FF !important;  Force visited links to be same as normal links */
    text-decoration: none;
    font-size: 1.3em;
    transition: color 0.5s;
}


nav a:hover {
    color: white !important; /* Hover color */
    background-color: #a3e635;
    border-radius: 50px;
}

.terminal-button:hover {
    color: white !important; /* Hover color */
    background-color: #a3e635;
}

.terminal-button {
    font-size: 1.3em;
    border-radius: 50px;
    padding: 10px;
}

/* Reusable animations */
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(60px); }
  to   { opacity: 1; transform: translateY(0); }
}
/* Body page animation */
.leading-relaxed {
  animation: fadeInUp 1s ease-out forwards;
  opacity: 0;
  font-size: 0px;
}
/* contact animation */
.animate-reveal {
  animation: fadeInUp 1s ease-out forwards;
  opacity: 0;
}

.animate-reveal-active {
  opacity: 1 !important;
}


/* MObile menu */

section {
    padding: 30px;
    margin: 30px auto;
    max-width: 850px;
    background: #0c0d12;
    box-shadow: 0px 10px 25px rgba(23, 191, 42, 0.2);
    border-radius: 12px;
    animation: fadeIn 0.8s ease-out;
    border: 1px solid rgba(162, 89, 255, 0.1);
}

.contact-section-title {
    font-size: 2em;
    padding-top: 50px;
    color: white
}